MONGODB_LOGIN=admin
MONGODB_PASS=admin
NEST_PORT=3000
NEST_ADDRESS=localhost
NEST_URL=http://localhost:3000

ELASTICSEARCH_HOST=elasticsearch-prod
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_URL=http://elasticsearch-prod:9200

NODE_ENV=production

REGRU_USERNAME=user
REGRU_PASSWORD=pass
REGRU_PROPAGATION_TIMEOUT=300
REGRU_POLLING_INTERVAL=30
